.selected {
  background-color: blue;
}

.WARNING {
  background-color: var(--fire-engine-red);
  color: white;
}


* {
  font-family: b612;
  background-color: var(--night);
  color: whitesmoke;

}

.buttonGrid {
  display: flex;
  flex-direction: column;
  margin: 100px;
  border: 10px solid;
  padding: 30px;
  gap: 10px;
}

.configurePanel {
  margin: 100px;
  border: 10px solid;
  padding: 30px;
}

button {
  cursor: pointer;
}